

.show-btn {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: #001861
    ;
    color:white
  }
  
  @media (min-width: 800px) {
    .show-btn {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  
  .equal {
    grid-column-start: 4;
    grid-column-end: 4;
  }
  
  .btn:last-child {
    font-weight: medium;
    font-size: 40px;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #809fff;
  }
  
  .clr {
    color:#809fff;
  }
  
  .exp {
    color: #809fff;
  }
  
  .btn {
    width: 60px;
    height: 60px;
    margin: 6px auto;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: 0px;
    user-select: none;
    color:white;

  }
  
  @media (min-width: 800px) {
    .btn:hover {
      background-color:#bfcfff;
      color: navy;
      transition: background-color 0.3s ease;
      
    }
  
    .btn:active,
    .btn.touched {
      background-color: gray;
      color: white;
      transition: background-color 0.3s ease;
      
    }
  
    .btn:active {
      transform: scale(0.9);
    }
  
    .btn.touched {
      pointer-events: none;
    }
  }
  
  @media (max-width: 800px) {
    .btn:active {
      transform: scale(0.9);
    }
  }